/* the container's className */
/* pre background color */
/* heading font size */
.md-style {
  padding: 8px;
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.md-style:first-child {
  margin-top: 0 !important;
}
.md-style:last-child {
  margin-bottom: 0 !important;
}
.md-style details {
  display: block;
}
.md-style summary {
  display: list-item;
}
.md-style a {
  color: #0366d6;
  text-decoration: none;
  background-color: initial;
}
.md-style a:hover {
  text-decoration: underline;
}
.md-style a:active, .md-style a:hover {
  outline-width: 0;
}
.md-style strong {
  font-weight: 600;
}
.md-style code,
.md-style kbd,
.md-style pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.md-style [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}
.md-style * {
  box-sizing: border-box;
}
.md-style input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.md-style details summary {
  cursor: pointer;
}
.md-style kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
.md-style h1,
.md-style h2,
.md-style h3,
.md-style h4,
.md-style h5,
.md-style h6 {
  margin-top: 30px;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.25;
}
.md-style h1 {
  font-size: 24px;
}
.md-style h1,
.md-style h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}
.md-style h2 {
  font-size: 22px;
}
.md-style h3 {
  font-size: 20px;
}
.md-style h4 {
  font-size: 18px;
}
.md-style h5 {
  font-size: 16px;
}
.md-style h6 {
  font-size: 14px;
  color: #6a737d;
}
.md-style p {
  margin: 0;
  padding: 10px 0;
  line-height: 1.6;
}
.md-style blockquote {
  margin: 0;
}
.md-style ol,
.md-style ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.md-style ol ol,
.md-style ul ol {
  list-style-type: lower-roman;
}
.md-style ol ol ol,
.md-style ol ul ol,
.md-style ul ol ol,
.md-style ul ul ol {
  list-style-type: lower-alpha;
}
.md-style dd {
  margin-left: 0;
}
.md-style code,
.md-style pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.md-style input::-webkit-inner-spin-button,
.md-style input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.md-style :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}
.md-style a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.md-style blockquote,
.md-style details,
.md-style dl,
.md-style ol,
.md-style pre,
.md-style table,
.md-style ul {
  margin-top: 0;
  margin-bottom: 16px;
}
.md-style hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
.md-style blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
.md-style blockquote > :first-child {
  margin-top: 0;
}
.md-style blockquote > :last-child {
  margin-bottom: 0;
}
.md-style ol,
.md-style ul {
  padding-left: 2em;
}
.md-style ol ol,
.md-style ol ul,
.md-style ul ol,
.md-style ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.md-style li {
  word-wrap: break-all;
}
.md-style li > p {
  margin-top: 16px;
}
.md-style li + li {
  margin-top: 0.25em;
}
.md-style dl {
  padding: 0;
}
.md-style dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
.md-style dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.md-style table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
}
.md-style table th {
  font-weight: 600;
}
.md-style table td,
.md-style table th {
  padding: 0;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.md-style table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.md-style table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.md-style img {
  border-style: none;
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}
.md-style img[align=right] {
  padding-left: 20px;
}
.md-style img[align=left] {
  padding-right: 20px;
}
.md-style code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
.md-style pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.md-style pre {
  word-wrap: normal;
  line-height: 1.45;
  background-color: #333;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.md-style pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}
